{% extends 'base.html' %}

{% block title %}
<title>Task List</title>
{% endblock %}

{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/style_form.css' %}">
<div class="task-list">
    <ul class="list-group">
        {% for task in tasks %}
        <li class="list-group-item">
            <div class="float-start">
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'task-detail' task.pk %}">
                    {{ task.title }}
                </a>
                <span class="badge rounded-pill text-bg-info">
                    {{ task.status }}
                 </span>
                <span class="badge rounded-pill text-bg-info">
                    {{ task.priority }}
                </span>
            </div>
            <div class="float-end">
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'task-update' task.pk %}">
                    Update
                </a>
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'task-delete' task.pk %}">
                    Delete
                </a>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">No tasks found</li>
        {% endfor %}
    </ul>
</div>  
    {% endblock %}